<?php $domain = $bunting_subdomain . '.' . (is_numeric($bunting_region_id) ? $bunting_region_id : ''); ?>
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet" />
<div class="body-inner">
    <div class="box-container logged-in">
        <?php if ($message != ''): ?>
            <h2 class="title">Bunting added <strong>Successfully</strong></h2>
            <p><?php echo $message; ?></p>
        <?php else: ?>
            <h2 class="title">Sign in to <strong>Bunting</strong></h2>
        <?php endif; ?>
        <p>
            Account address:<br><strong><?php echo $bunting_subdomain; ?>.<?php echo is_numeric($bunting_region_id) ? $bunting_region_id . '.' : ''; ?>bunting.com</strong>
        </p>
        <form action="https://<?php echo $bunting_subdomain; ?>.<?php echo is_numeric($bunting_region_id) ? $bunting_region_id . '.' : ''; ?>bunting.com/login" class="underlined go-to-bunting" target="_blank" method="post">
            <input type="hidden" name="a" value="login">
            <input type="hidden" name="timestamp" value="<?php echo $timestamp; ?>">
            <input type="hidden" name="hash" value="<?php echo $hash; ?>">
            <input type="hidden" name="password_api" value="<?php echo $password_api; ?>">
            <input type="hidden" name="email_address" value="<?php echo $email_address; ?>">
            <input type="hidden" name="plugin" value="magento">
            <?php if ($message != ''): ?>
                <input type="hidden" name="redirect" value="/account?a=show_registration_complete">
            <?php endif; ?>
            <button type="submit" class="btn btn-info">
                Manage your<br>Bunting Account
            </button>
        </form>
        <form action="<?php echo Mage::helper("adminhtml")->getUrl("adminhtml/bunting/options"); ?>" method="POST" class="bunting-plugin-options underlined">
            <div class="options-title">Plugin options</div>
            <div class="options-description">These options may take a few hours to take effect, due to the product feed import</div>
            <div class="plugin-option">
                <div class="option-title">Image style</div>
                <div class="option-description">Changes how your product images are displayed in Bunting product recommendations</div>
                <select name="image_style">
                    <?php $imageStyle = Mage::getStoreConfig('bunting/settings/image_style', 0); ?>
                    <option value="0" <?php if (!$imageStyle || $imageStyle == '0') { ?>selected<?php } ?>>Square (resized)</option>
                    <option value="1" <?php if ($imageStyle === '1') { ?>selected<?php } ?>>Original (unedited)</option>
                </select>
            </div>
            <div class="plugin-option">
                <div class="option-title">Hide low stock configurable products</div>
                <div class="option-description">Disables a configurable product within the Bunting XML feed when more than 50% of the child products are out-of-stock</div>
                <select name="hide_low_stock">
                    <?php $hideLowStockProducts = Mage::getStoreConfig('bunting/settings/hide_low_stock', 0); ?>
                    <option value="0" <?php if (!$hideLowStockProducts || $hideLowStockProducts == '0') { ?>selected<?php } ?>>Disable</option>
                    <option value="1" <?php if ($hideLowStockProducts === '1') { ?>selected<?php } ?>>Enable</option>
                </select>
            </div>
            <div class="plugin-option">
                <div class="option-title">Hide low stock products</div>
                <div class="option-description">Disables a product within the bunting XML feed when it's stock (or the total stock of a configurable's children) is 5 or less</div>
                <select name="hide_out_of_stock">
                    <?php $hideOutOfStockProducts = Mage::getStoreConfig('bunting/settings/hide_out_of_stock', 0); ?>
                    <option value="0" <?php if (!$hideOutOfStockProducts || $hideOutOfStockProducts == '0') { ?>selected<?php } ?>>Disable</option>
                    <option value="1" <?php if ($hideOutOfStockProducts === '1') { ?>selected<?php } ?>>Enable</option>
                </select>
            </div>
            <input type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey()?>" name="form_key"/>
            <input type="submit" name="save" value="Save" class="plugin-submit">
        </form>
        <a href="<?php echo Mage::helper("adminhtml")->getUrl("adminhtml/bunting/unlink"); ?>" onclick="return confirm('Are you sure you want to unlink your Bunting account?');" class="unlink-bunting btn btn-default">
            Disable
        </a>
    </div>
</div>