<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet" />
<div id="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<div class="body-inner">
    <div class="box-container" id="loginForm">
        <div class="title-logo"><img src="https://bunting.com/media/logo.svg" /></div>
        <p style="display: none" class="message"></p>
        <div class="row">
            <div class="underlined">
                <h2>New to Bunting?</h2>
                <a href="#planChooseForm" class="btn btn-primary btn-lg" id="choosePlanButton">Create Account</a>
            </div>
            <div class="login underlined">
                <h2>Already have a Bunting Account?</h2>
                <form id="actualLoginForm">
                    <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
                    <div class="form-group required">
                        <label for="verify_bunting_subdomain">Bunting account subdomain</label>
                        <input type="text" class="form-control" id="verify_bunting_subdomain" name="verify_bunting_subdomain" required>
                    </div>
                    <div class="form-group required">
                        <label for="verify_email_address">Email address</label>
                        <input type="email" class="form-control" id="verify_email_address" name="verify_email_address" placeholder="<?php echo $shop_owner_email; ?>" required>
                    </div>
                    <div class="form-group required">
                        <label for="verify_password">Password</label>
                        <input type="password" class="form-control" id="verify_password" name="verify_password" placeholder="Super secret password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-large btn-last">Login</button>
                </form>
            </div>
            <div>
                Help: <a class="forgotPasswordTrigger" href="https://bunting.com/login?a=lost_password" target="_blank">I've lost my password</a>
                <form class="forgotPasswordForm">
                    <div class="form-group required">
                        <label for="verify_bunting_subdomain">Bunting account subdomain</label>
                        <input type="text" class="form-control" id="bunting_forgot_subdomain" name="bunting_forgot_subdomain" required />
                    </div>
                    <button type="submit" class="btn btn-primary btn-large btn-last">Reset</button>
                </form>
            </div>
        </div>
    </div>
    <div class="box-container wide" id="registerForm" style="display:none;">
        <a class="back" href="#back">Back</a>
        <h2 class="title">Create Your <strong>Free Trial Account</strong></h2>
        <h4>You're moments away from personalising your website</h4>
        <form id="actualRegisterForm">
            <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
            <fieldset>
                <h3>Your Bunting Account</h3>
                <div class="form-group required">
                    <label for="company_name">Company Name</label>
                    <input type="text" class="form-control" id="company_name" name="company_name" value="<?php echo $shop_name; ?>" required>
                </div>
                <div class="form-group required">
                    <label for="register_bunting_subdomain">Choose your Bunting account's web address</label>
                    <div class="input-group">
                        <div class="input-group-addon">https://</div>
                        <input type="text" class="form-control" id="register_bunting_subdomain" name="register_bunting_subdomain" value="<?php echo $potential_subdomain; ?>" required>
                        <div class="input-group-addon">.bunting.com</div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <h3>Your Login Details</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group required">
                            <label for="forename">Forename</label>
                            <input type="text" class="form-control" id="forename" name="forename" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group required">
                            <label for="surname">Surname</label>
                            <input type="text" class="form-control" id="surname" name="surname" required>
                        </div>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="register_email_address">Email Address</label>
                    <input type="email" class="form-control" id="register_email_address" name="register_email_address"  placeholder="<?php echo $shop_owner_email; ?>" required>
                    <span class="hint">(Kept safe, never given to others)</span>
                </div>
                <div class="form-group required">
                    <label for="telephone_number">Phone</label>
                    <input type="text" class="form-control" id="telephone_number" name="telephone_number" value="" required>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group required">
                            <label for="register_password">Password</label>
                            <input type="password" class="form-control" id="register_password" name="register_password" required>
                            <span class="hint">(We'll encrypt this for security)</span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group required">
                            <label for="password_confirmation">Confirm password</label>
                            <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <p>
                        Do you have a <a id="promoCodeButton" role="button" data-toggle="collapse" href="#promo-code" aria-expanded="false" aria-controls="promo-code">Promo Code</a>?
                    </p>
                    <div class="collapse" id="promo-code">
                        <input type="text" class="form-control" id="promotional_code" name="promotional_code" placeholder="Promo code (optional)">
                    </div>
                </div>
                <div class="submit">
                    <div class="row">
                        <div class="col-sm-6 submit-text">
                            <span id="premium-terms">By clicking the button you agree to Bunting's <a href="http://knowledgebase.getbunting.com/bunting-terms-of-service/" target="_blank">Terms of Business</a>.</span>
                        </div>
                        <div class="col-sm-6 submit-button">
                            <button type="submit" class="btn btn-info">Get started</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div> <!-- /container -->
<input type="hidden" id="success-url" value="<?php echo $success_url; ?>" />
<script type="text/javascript">
    window.buntingLoginUrl = "<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/bunting/login'); ?>";
    window.buntingRegisterUrl = "<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/bunting/register'); ?>";

    function buntingAddScriptToHead(script) {
        var buntingScript = document.createElement('script');
        buntingScript.setAttribute("type", "text/javascript");
        buntingScript.setAttribute("src", script);
        document.getElementsByTagName("head")[0].appendChild(buntingScript);
    }
    // This resolves a bug with the Magento compiler not triggering correctly for modules when other modules conflict with Bunting
    function buntingLoadScripts(scripts) {
        if (typeof window.jQuery === "undefined") {
            buntingAddScriptToHead('/js/bunting/jquery-2.1.4.min.js');
        }

        window.buntingInitialised = false;

        var buntingJqueryLoaded = setInterval(function() {
            if (typeof window.jQuery !== "undefined" && window.buntingInitialised === false && typeof window.buntingLoaded === "undefined") {
                window.buntingInitialised = true;

                function loadFiles(files, fn) {
                    if (!files.length) {
                        files = [];
                    }
                    var head = document.head || document.getElementsByTagName('head')[0];

                    function loadFile(index) {
                        if (files.length > index) {
                            var fileref = document.createElement('script');
                            fileref.setAttribute("type", "text/javascript");
                            fileref.setAttribute("src", files[index]);
                            head.appendChild(fileref);
                            index = index + 1;
                            // Used to call a callback function
                            fileref.onload = function () {
                                loadFile(index);
                            }
                        } else if(fn){
                            fn();
                        }
                    }
                    loadFile(0);
                }

                loadFiles(scripts, function() {
                    console.log('Compiler active, scripts side-loaded successfully');
                    window.clearInterval(buntingJqueryLoaded);
                });
            }
        }, 20);
    }

    var everythingLoaded = setInterval(function() {
        if (/loaded|complete/.test(document.readyState)) {
            clearInterval(everythingLoaded);
            buntingLoadScripts(['/js/bunting/jquery.validate.min.js', '/js/bunting/bootstrap.min.js', '/js/bunting/admin.js']);
        }
    }, 20);
</script>