<div class="body-inner">
    <div class="box-container">
        <h1>Please flush cache</h1>
        <p>The module was unable to start properly, normally this is because the installation process has not yet been completed. Please click the button below and click on "Flush Magento Cache" on the cache page to complete the installation.</p>
        <p><a class="btn btn-primary" href="<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/cache/index'); ?>">Cache Management</a></p>
    </div>
</div>